body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
    margin: 30px;
  }
  h1, p {
    width: 400px;
  }
  
  /*CSS to our project*/
  #wrapper {
    width: 300px;
    position: relative;
    margin: 0 auto;
  }
  
  #mobile {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  #site {
    background-image: url(../img/site.png);
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 50%; /*The 50% in this atributes is to center, and don't worry with precise px value*/
    transform: translateX(-50%);
    background-repeat: repeat;
    background-position: 0 0;
    border: 2px solid #ccc; /*Better use this in the css besides the mobile file mockup*/
  }
  